{% extends "layout.html" %}

{% block title %}
    <title>Dota - Inicio</title>
{% endblock title %}

{% block main %}

<h1>Bienvenidos a DotA</h1>
<h2>El juego que aún se juega pese a que hay millones de otros juegos para jugar</h2>
<h3>Utiliza los enlaces del navegador (barra superior) para ver las listas de héroes, armas y consumibles.</h3>
<!-- Imagen -->
<img src="\static\assets\dota2.png"></img>

<p>Aquí te contamos que la historia de DotA empieza desde el año 2003 antes de Crispo cuando unos árboles vivían felices
    haciendo fotosíntesis con los dinosaurios hasta que la nación del fuego atacó.

{% endblock main %}


