{% extends "layout.html" %}

{% block title %}
    <title>Dota - Inicio</title>
{% endblock title %}

{% block main %}

<h1>Bienvenidos a DotA</h1>
<h2>El juego que aún se juega pese a que hay millones de otros juegos para jugar</h2>
<!-- Enlaces para las listas -->
<a href="lista-heroes.html">Ver lista de heroes</a><br>
<a href="lista-armas.html">Ver lista de heroes</a><br>
<a href="lista-consumibles.html">Ver lista de heroes</a><br>
<p>Aquí te contamos que la historia de DotA empieza desde el año 2003 antes de Crispo cuando unos árboles vivían felices
    haciendo fotosíntesis con los dinosaurios hasta que la nación del fuego atacó.

{% endblock main %}


