{% extends "layout.html" %}

{% block title %}
    <title>Dota - Consumibles</title>
{% endblock title %}

{% block main %}
    <!-- Buscador de heroes -->
    <a href="{% url 'consumibles' %}">Ver todos los consumibles</a><br>
    <a href="{% url 'crear-consumible' %}">Agregar un consumible</a>
    <br><br>
    <form action="{% url 'buscar-consumible' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar Consumible">
    </form>
    <br>

    <!-- Se muestra una tabla con los héroes y un botón para agregar un héroe a través del formulario -->
    <table style="border: 1px;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rareza</th>
                <th>Descripcion</th>
                <th>Sanacion</th>
                <th>Duracion</th>
                <th>Costo</th>
            </tr>
        </thead>
        {% for consumible in consumibles %}
        </tr>
        <tr>
            <td>{{consumible.nombre}}</td>
            <td>{{consumible.rareza}}</td>
            <td>{{consumible.descripcion}}</td>
            <td>{{consumible.sanacion}}</td>
            <td>{{consumible.duracion}}</td>
            <td>{{consumible.costo}}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Formulario Consumible</h1>
    <h2>Ingresa los datos para crear un consumible</h2>
    <a href="{% url 'consumibles' %}">Volver a la lista de consumibles</a>
    <form method="post">
        {% csrf_token %}
        {{formulario_consumible.as_p}}
        <input type="submit" value="Crear Consumible">
    </form>
{% endblock main %}