{% extends "layout.html" %}

{% block title %}
    <title>Dota - Consumibles</title>
{% endblock title %}

{% block main %}
    <!-- Buscador de consumibles -->
    <br><br>
    <form action="{% url 'buscar-consumible' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar Consumible">
    </form>
    <br>

    <!-- Se muestra una tabla con los héroes y un botón para agregar un héroe a través del formulario -->
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Rareza</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Sanacion</th>
                <th scope="col">Duracion</th>
                <th scope="col">Costo</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for consumible in consumibles %}
            <tr>
                <td>{{consumible.nombre}}</td>
                <td>{{consumible.rareza}}</td>
                <td>{{consumible.descripcion}}</td>
                <td>{{consumible.sanacion}}</td>
                <td>{{consumible.duracion}}</td>
                <td>{{consumible.costo}}</td>
                <td><a href="{% url 'editar-consumible' consumible.nombre %}">Editar</a></td>
                <td><a href="{% url 'eliminar-consumible' consumible.nombre %}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'crear-consumible' %}" role="button">Agregar un consumible</a>

{% endblock main %}