{% extends "layout.html" %}

{% block title %}
    <title>Dota - Armas</title>
{% endblock title %}

{% block main %}

    <!-- Se muestra una tabla con los héroes y un botón para agregar un héroe a través del formulario -->
    <table>
        {% for arma in armas %}
        <tr>
            <td>{{arma.nombre}}</td>
            <td>{{arma.rareza}}</td>
            <td>{{arma.descripcion}}</td>
            <td>{{arma.costo}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="formulario-armas.html">Crear Arma</a>

{% endblock main %}