{% extends "layout.html" %}

{% block title %}
    <title>Dota - Armas</title>
{% endblock title %}

{% block main %}

    <!-- Se muestra una tabla con los héroes y un botón para agregar un héroe a través del formulario -->
    <table>
        {% for consumible in consumibles %}
        <tr>
            <td>{{consumible.nombre}}</td>
            <td>{{consumible.rareza}}</td>
            <td>{{consumible.descripcion}}</td>
            <td>{{consumible.sanacion}}</td>
            <td>{{consumible.duracion}}</td>
            <td>{{consumible.costo}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="formulario-armas.html">Crear Consumible</a>

{% endblock main %}