{% extends "layout.html" %}

{% block title %}
    <title>Dota - Heroes</title>
{% endblock title %}

{% block main %}
    <!-- Buscador de heroes -->
    <a href="{% url 'heroes' %}">Ver todos los heroes</a><br>
    <a href="{% url 'formulario-heroe' %}">Agregar un héroe</a><br>
    <a href="{% url 'crear-heroe' %}"><b>Crear un héroe</b></a>
    <br><br>
    <form action="{% url 'buscar-heroe' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar Héroe">
    </form>
    <br>

    <!-- Se muestra una tabla con los héroes y un botón para agregar un héroe a través del formulario -->
    <table style="border: 1px;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rareza</th>
                <th>Descripcion</th>
                <th>Costo</th>
                <th>Costo</th>
            </tr>
        </thead>
        {% for heroe in heroes %}
        </tr>
        <tr>
            <td>{{heroe.nombre}}</td>
            <td>{{heroe.tipo}}</td>
            <td>{{heroe.aporte}}</td>
            <td>{{heroe.vida}}</td>
            <td>{{heroe.velocidad}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock main %}